### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [120]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [121]:
#create bins for a Pass Fail Classification based on a passing Rate fo 70%
bins = [0, 69, 100]
group_names = ["Fail","Pass"]

school_data_complete["Pass/Fail (Math)"] = pd.cut(school_data_complete["math_score"], bins, labels=group_names)
school_data_complete["Pass/Fail (Reading)"] = pd.cut(school_data_complete["reading_score"], bins, labels=group_names)

In [122]:
#get the school_type
school_type = school_data[["school_name", "type"]]

In [123]:
#calculate the number of schools in the data set 
school_count = len(school_data_complete["school_name"].unique())

In [124]:
#calculate the number of students in the data set 
student_count = len(school_data_complete["Student ID"].unique())

In [125]:
# group data 
grouped_school_data = school_data_complete.groupby(["school_name", "type"])

In [126]:
#calculate the overall sum of the budget from the data set 
school_budget = sum(grouped_school_data["budget"].mean())

In [127]:
#calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()

In [128]:
#calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

In [129]:
# calculate passing rate (overall_avergae)
passing_rate = (avg_math_score + avg_reading_score) / 2

In [130]:
#Calculate cuts based on Math and reading scores
math_pass_fail = pd.DataFrame(pd.cut(school_data_complete["math_score"], bins, labels=group_names))
reading_pass_fail = pd.DataFrame(pd.cut(school_data_complete["reading_score"], bins, labels=group_names))

In [131]:
# find the count for students Passing Math
students_who_passed_math = math_pass_fail[math_pass_fail["math_score"]=="Pass"].count()

In [132]:
# find the count for students Passing Reading
students_who_passed_reading = reading_pass_fail[reading_pass_fail["reading_score"]=="Pass"].count()

In [133]:
pct_passing_math = (students_who_passed_math["math_score"] /student_count) * 100

In [134]:
pct_passing_reading = (students_who_passed_reading["reading_score"] /student_count)  * 100

In [135]:
#Create Dataframe for Summary Stats
district_summary_df = pd.DataFrame({"Total Schools" : [school_count] ,
                                    "Total Students" : [student_count],
                                    "Total Budget" : [school_budget],
                                    "Average Math Score" : [avg_math_score],
                                    "Average Reading Score" : [avg_reading_score],
                                    "% Passing Math" : [pct_passing_math],
                                    "% Passing Reading" : [pct_passing_reading],
                                    "% Overall Passing Rate" : [passing_rate] })

In [136]:
#apply formatting
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:.2f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [137]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [138]:
school_mean_data = grouped_school_data["budget"].mean()

In [139]:
school_student_count = grouped_school_data["Student ID"].count()

In [140]:
school_budget_per_student = pd.DataFrame(school_mean_data / school_student_count)

In [141]:
school_avg_math_score_data = grouped_school_data["math_score"].mean()

In [142]:
school_avg_reading_score_data = grouped_school_data["reading_score"].mean()

In [143]:
#perform merges
combined_mean_student_count = pd.merge(school_mean_data, school_student_count, on="school_name", how="inner")
combined_avg_math_and_reading = pd.merge(school_avg_math_score_data, school_avg_reading_score_data, on="school_name", how="inner")

In [144]:
school_results_raw = pd.merge(combined_mean_student_count, combined_avg_math_and_reading, on="school_name", how="inner")
school_results = pd.merge(school_budget_per_student, school_results_raw, on="school_name", how="inner")
school_results_renamed = school_results.rename(columns={
                                "Student ID": "Total Students",
                                "budget": "Total School Budget",
                                "math_score": "Average Math Score",
                                "reading_score": "Average Reading Score"
                                })

In [145]:
total_passing_math_by_school = school_data_complete.loc[school_data_complete["Pass/Fail (Math)"]=="Pass",:]
math_passes_grouped_by_school = total_passing_math_by_school.groupby(["School ID", "school_name", "type"])
math_passes_by_school = pd.DataFrame((math_passes_grouped_by_school["Pass/Fail (Math)"].count() / grouped_school_data["Student ID"].count()) * 100)

In [146]:
total_passing_reading_by_school = school_data_complete.loc[school_data_complete["Pass/Fail (Reading)"]=="Pass",:]
reading_passes_grouped_by_school = total_passing_reading_by_school.groupby(["School ID", "school_name", "type"])
reading_passes_by_school = pd.DataFrame((reading_passes_grouped_by_school["Pass/Fail (Reading)"].count() / grouped_school_data["Student ID"].count()) * 100)

In [147]:
math_reading_results_by_school_raw = pd.merge(math_passes_by_school, reading_passes_by_school, on ="school_name", how="inner"  )
math_reading_results = math_reading_results_by_school_raw.rename(columns={"0_x": "% Passing Math", "0_y": "% Passing Reading"})
math_reading_results["Overall Pass Rate"] = (math_reading_results["% Passing Math"] + math_reading_results["% Passing Reading"]) / 2

In [148]:
schools_raw = pd.merge(school_results_renamed,math_reading_results, on="school_name")
school_performance_raw = pd.merge(school_data, schools_raw, on="school_name", how="inner")

In [149]:
#clean-up column names
school_performance_rename = school_performance_raw.rename(columns={"type": "School Type", 0: "Per Student Budget", "Overall Pass Rate" : "Overall Passing Rate"})

In [156]:
#apply filters to get a reduce set of columns
school_performance_filtered = school_performance_rename.filter(["school_name", "Total Students", "School Type","Total School Budget", "Per Student Budget", "Average Math Score" \
                                                                "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"])

In [157]:
#apply formatting wiith the map function
school_performance_filtered["Total School Budget"] = school_performance_filtered["Total School Budget"].map("${:.2f}".format)
school_performance_filtered["Per Student Budget"] = school_performance_filtered["Per Student Budget"].map("${:.2f}".format)
school_performance_filtered["Total Students"] = school_performance_filtered["Total Students"].map("{:,}".format)

In [158]:
#define school_name column as index
school_performance_indexed = school_performance_filtered.set_index("school_name")

In [159]:
# sort data descending to get the top 5 schools by overall performance
school_performance_indexed.sort_values(by="Overall Passing Rate", ascending = False).head(5)

,Total Students,School Type,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,
Cabrera High School,"1,858",Charter,$1081356.00,$582.00,94.133477,97.039828,95.586652
Thomas High School,"1,635",Charter,$1043130.00,$638.00,93.272171,97.308869,95.290520
Pena High School,962,Charter,$585858.00,$609.00,94.594595,95.945946,95.270270
Griffin High School,"1,468",Charter,$917500.00,$625.00,93.392371,97.138965,95.265668
Wilson High School,"2,283",Charter,$1319574.00,$578.00,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [160]:
# sort data ascending to get the bottom 5 schools by overall performance
school_performance_indexed.sort_values(by="Overall Passing Rate", ascending = True).head(5)

,Total Students,School Type,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,
Rodriguez High School,"3,999",District,$2547363.00,$637.00,66.366592,80.220055,73.293323
Figueroa High School,"2,949",District,$1884411.00,$639.00,65.988471,80.739234,73.363852
Huang High School,"2,917",District,$1910635.00,$655.00,65.683922,81.316421,73.500171
Johnson High School,"4,761",District,$3094650.00,$650.00,66.057551,81.222432,73.639992
Ford High School,"2,739",District,$1763916.00,$644.00,68.309602,79.299014,73.804308

In [202]:
#Math Score by Grade
school_data_formatted = school_data_complete.replace("9th", "09th")
math_score_by_grade = pd.crosstab(school_data_formatted["school_name"], school_data_formatted["grade"], values=school_data_formatted["math_score"], aggfunc='mean')
math_score_by_grade.columns.names = [None]
math_score_by_grade

                            09th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [203]:
#Reading Score by Grade
#school_data_formatted = school_data_complete.replace("9th", "09th")
reading_score_by_grade = pd.crosstab(school_data_formatted["school_name"], school_data_formatted["grade"], values=school_data_formatted["reading_score"], aggfunc='mean')
reading_score_by_grade.columns.names = [None]
reading_score_by_grade

                            09th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [211]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [212]:
#spending_data = school_data_complete.filter(["student ID", "school_name", "budget", "math_score", "reading_score"])
spending_data = school_performance_indexed
spending_data["Spending Ranges (per Student)"] = pd.cut(spending_data["Per Student Budget"], spending_bins, labels=group_names)
spending_data

TypeError: '<' not supported between instances of 'int' and 'str'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [34]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.