### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import textwrap

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
#print(school_data)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#print(school_data_complete)


bins = [0, 69, 100]

group_names = ["Fail","Pass"]

school_data_complete["Pass/Fail (Math)"] = pd.cut(school_data_complete["math_score"], bins, labels=group_names)
school_data_complete["Pass/Fail (Reading)"] = pd.cut(school_data_complete["reading_score"], bins, labels=group_names)


#get the school_type
school_type = school_data[["school_name", "type"]]
#print(school_type)

#calculate the number of schools in the data set 
school_count = len(school_data_complete["school_name"].unique())

#calculate the number of students in the data set 
student_count = len(school_data_complete["Student ID"].unique())

# group data 
grouped_school_data = school_data_complete.groupby(["School ID", "school_name", "type"])

#calculate the overall sum of the budget from the data set 
school_budget = sum(grouped_school_data["budget"].mean())

#calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()

#calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

# calculate passing rate (overall_avergae)
passing_rate = (avg_math_score + avg_reading_score) / 2



math_pass_fail = pd.DataFrame(pd.cut(school_data_complete["math_score"], bins, labels=group_names))
reading_pass_fail = pd.DataFrame(pd.cut(school_data_complete["reading_score"], bins, labels=group_names))
students_who_passed_math = math_pass_fail[math_pass_fail["math_score"]=="Pass"].count()
students_who_passed_reading = reading_pass_fail[reading_pass_fail["reading_score"]=="Pass"].count()

#math_passes = math_pass_fail["math_score"] 

pct_passing_math = (students_who_passed_math["math_score"] /student_count) * 100
pct_passing_reading = (students_who_passed_reading["reading_score"] /student_count)  * 100
#print(passing_rate)

# Overall averall

district_summary_df = pd.DataFrame({"Total Schools" : [school_count] ,
                                    "Total Students" : [student_count],
                                    "Total Budget" : [school_budget],
                                    "Average Math Score" : [avg_math_score],
                                    "Average Reading Score" : [avg_reading_score],
                                    "% Passing Math" : [pct_passing_math],
                                    "% Passing Reading" : [pct_passing_reading],
                                    "% Overall Passing Rate" : [passing_rate] })

school_data_complete.head()

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:.2f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,80.431606

In [32]:
school_mean_data = grouped_school_data["budget"].mean()
#print(school_mean_data)

#school_mean_data = grouped_student_data["budget"].mean()
school_student_count = grouped_school_data["Student ID"].count()

#print(school_student_count)
school_avg_math_score_data = grouped_school_data["math_score"].mean()

#print(school_avg_math_score_data)
school_avg_reading_score_data = grouped_school_data["reading_score"].mean()

combined_mean_student_count = pd.merge(school_mean_data, school_student_count, on="school_name", how="inner")

combined_avg_math_and_reading = pd.merge(school_avg_math_score_data, school_avg_reading_score_data, on="school_name", how="inner")

school_results = pd.merge(combined_mean_student_count, combined_avg_math_and_reading, on="school_name", how="inner")

school_results.rename(columns={"school_name": "",
                                "Student ID": "Total Students",
                                "budget": "Total School Budget",
                                "math_score": "Average Math Score",
                                "reading_score": "Average Reading Score"
                                })

total_passing_math_by_school = school_data_complete.loc[school_data_complete["Pass/Fail (Math)"]=="Pass",:]
math_passes_grouped_by_school = total_passing_math_by_school.groupby(["School ID", "school_name", "type"])
math_passes_by_school = pd.DataFrame((math_passes_grouped_by_school["Pass/Fail (Math)"].count() / grouped_school_data["Student ID"].count()) * 100)
#print(math_passes_by_school)

total_passing_reading_by_school = school_data_complete.loc[school_data_complete["Pass/Fail (Reading)"]=="Pass",:]
reading_passes_grouped_by_school = total_passing_reading_by_school.groupby(["School ID", "school_name", "type"])
reading_passes_by_school = pd.DataFrame((reading_passes_grouped_by_school["Pass/Fail (Reading)"].count() / grouped_school_data["Student ID"].count()) * 100)
#print(reading_passes_by_school)

math_reading_results_by_school_raw = pd.merge(math_passes_by_school, reading_passes_by_school, on ="school_name", how="inner"  )
math_reading_results = math_reading_results_by_school_raw.rename(columns={"0_x": "% Passing Math", "0_y": "% Passing Reading"})
math_reading_results["Overall Pass Rate"] = (math_reading_results["% Passing Math"] + math_reading_results["% Passing Reading"]) / 2

print(math_reading_results)

                                                  0
School ID school_name           type
0         Huang High School     District  65.683922
1         Figueroa High School  District  65.988471
2         Shelton High School   Charter   93.867121
3         Hernandez High School District  66.752967
4         Griffin High School   Charter   93.392371
5         Wilson High School    Charter   93.867718
6         Cabrera High School   Charter   94.133477
7         Bailey High School    District  66.680064
8         Holden High School    Charter   92.505855
9         Pena High School      Charter   94.594595
10        Wright High School    Charter   93.333333
11        Rodriguez High School District  66.366592
12        Johnson High School   District  66.057551
13        Ford High School      District  68.309602
14        Thomas High School    Charter   93.272171
                                                  0
School ID school_name           type
0         Huang High School     District  81.316421
1         Figueroa High School  District  80.739234
2         Shelton High School   Charter   95.854628
3         Hernandez High School District  80.862999
4         Griffin High School   Charter   97.138965
5         Wilson High School    Charter   96.539641
6         Cabrera High School   Charter   97.039828
7         Bailey High School    District  81.933280
8         Holden High School    Charter   96.252927
9         Pena High School      Charter   95.945946
10        Wright High School    Charter   96.611111
11        Rodriguez High School District  80.220055
12        Johnson High School   District  81.222432
13        Ford High School      District  79.299014
14        Thomas High School    Charter   97.308869
                       % Passing Math  % Passing Reading  Overall Pass Rate
school_name
Huang High School           65.683922          81.316421          73.500171
Figueroa High School        65.988471          80.739234          73.363852
Shelton High School         93.867121          95.854628          94.860875
Hernandez High School       66.752967          80.862999          73.807983
Griffin High School         93.392371          97.138965          95.265668
Wilson High School          93.867718          96.539641          95.203679
Cabrera High School         94.133477          97.039828          95.586652
Bailey High School          66.680064          81.933280          74.306672
Holden High School          92.505855          96.252927          94.379391
Pena High School            94.594595          95.945946          95.270270
Wright High School          93.333333          96.611111          94.972222
Rodriguez High School       66.366592          80.220055          73.293323
Johnson High School         66.057551          81.222432          73.639992
Ford High School            68.309602          79.299014          73.804308
Thomas High School          93.272171          97.308869          95.290520

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.